# Probot
# -----------------------------------------------------------------------------
# https://probot.github.io/docs/configuration/

# If `--host` option of `probot run` does not work, you can use `HOST` instead:
# HOST=0.0.0.0

# * Probot will not process events until the required environment variables are set.
# Use "trace" to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Your GitHub App details
APP_ID=
PRIVATE_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
WEBHOOK_SECRET=

# Application configuration
# -----------------------------------------------------------------------------
