# Application configuration
# -----------------------------------------------------------------------------
# Core configuration variables for GitHub App
APP_ID=
PRIVATE_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
WEBHOOK_SECRET=

# See src/config.ts for available configuration options.
